*
{
  box-sizing: border-box;
}
.Container {
  display: flex;
  flex-wrap: wrap;
  width:1300px;
  margin: 0 auto;
  justify-content: center;
}

img {
  width: 130px;
  border: 1px solid black;
  height: 150px;
}
header
{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}
button
{
  margin-bottom:20px ;
}